body{
    background-color: steelblue; text-align: center;
}
h1{
    color: lavender;
    font-size: xx-large;
}
h2{
    font-family: Arial, serif, sans-serif, "Droid Serif";
    color: cornsilk;
    font-size: xxx-large;
}