body {
    background: url(sunset.jpg);
}
/*HEADER*/
header{
    background-color: cornsilk;
    color: #000000;
    font-size: xx-large;
    text-align: center;
    margin-top: 25px;
    font-family: Cursive,serif, Bookman;
    padding: 25px;
    border-radius: 50px;
    font-weight: bolder;
    opacity: 0.9;
}
#search{
    height: 50px;
    width: 250px;
    border-radius: 20px;
    border: none;
    background-color: sienna;
    font-style: italic;
    color: lavender;
}
.submit{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: sienna;
}
/*Change theme*/
#theme1{
    margin-left: 76%;
    height: 40px;
    width: 64px;
    border-radius: 5px;
    background-color: gold;
    font-weight: bolder;
}
#theme2{
    margin-left: 85%;
    height: 40px;
    width: 64px;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: bolder;
    margin-top: -40px;
}
/*photo*/
.photo{
    border-radius: 100px;
    margin-top: 25px;
}
#time{
    font-style: italic;
    font-size: xxx-large;
    color: black;
    background-color: lavender;
    border-radius: 10px;
    height: 80px;
    width: 160px;
    margin-left: 86%;
    margin-bottom: -16px;
    margin-top: 25px;
}
.photo img{
    margin-left: 25%;
    border-radius: 50px;
}
/*FIRST*/
#first{
    border-radius: 50px;
    background-color: cornsilk;
    margin-top: 25px;
}
#first h1{
    margin-left: 25%;
    margin-bottom: -32px;
    font-size: xxx-large;
    font-family: Calibri, fantasy;
    color: #652a95;
}
#first p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: xxx-large;
}
#first p i{
    font-family:serif, sans-serif;
    font-weight: bold;
}
/*SECOND*/
.info{
    border-radius: 50px;
    background-color: cornsilk;
    margin-top: 1%;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
    opacity: 0.9;
}
#phone img{
    margin-bottom: -16px;
}
#telegram img{
    margin-bottom: -12px;
}
#gmail img{
    margin-bottom: -12px;
}
